html{
    background-color: white;
    background-image: url("../assets/homePageAssets/verticallinedpaper.jpg");
    background-position: top left;
    background-repeat: no-repeat;
}
body{
    max-width: 100vw;
}
nav{
    
}
nav > h1{
    text-align: center;   
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    letter-spacing: -2px;
    margin-top: 10px;
}
h1 > a{
    color: black !important;
}
.deco-line{
    border-top: 1.5px solid black;
    width: 70%;
    margin: 10px auto 15px auto;
    filter: blur(1px);
}