html{
    background-color: white;
    background-image: url("../assets/homePageAssets/verticallinedpaper.jpg");
    background-position: top left;
    background-repeat: no-repeat;
}
body{
    max-width: 100vw;
    background-image: url("../assets/homePageAssets/texture.png");
    background-size: 100%;
    padding-top: 10px;
}
nav{
    
}
nav > h1{
    text-align: center;   
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    letter-spacing: -2px;

}
h1 > a{
    color: black !important;
}
.deco-line{
    border-top: 1.5px solid black;
    width: 70%;
    margin: 10px auto 15px auto;
    filter: blur(1px);
}
.home-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.home-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100vh;
    max-height: 700px;
    text-align: center;
}
.menu-link > img {
    max-height: 400px;
    margin: 0 auto; 
    border: 0px solid transparent;
}

.menu-link > img:hover{
    transition: 200ms;
    border: 3px solid transparent;
    margin: -3px;
    padding: 3px;
}

.item-label{
    margin: 10px 25px 10px auto;
    color: white;
    background-color: black;
    transform: skew(-20deg);
    width: 175px;
    height: 80px;
    box-shadow: 10px 10px 6px 2px rgba(0, 0, 0, 0.45);
}
.item-label > h2 {
    line-height: 80px;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
}
